<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <title>DashBoard</title>
</head>
<body id="body">
    <script>
        const classes = JSON.parse('<%- JSON.stringify(classes) %>');
        const events = JSON.parse('<%- JSON.stringify(events) %>');
        const locations = JSON.parse('<%- JSON.stringify(locations) %>');
    </script>
    <script type="module" src="../scripts/dashboard.js"></script>
</body>
</html>